<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Paiement Abonnement</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2>Sélectionnez une offre</h2>

  <ion-list>
    <ion-item  
      *ngFor="let offer of offers"
      button
      (click)="selectOffer(offer)"
      [color]="selectedOffer?.id === offer.id ? 'success' : ''">
      <div class="offer-item">
        <p class="offer-title">{{ offer.name }} <span class="offer-price">{{ offer.price }} FCFA</span> </p>
        <p class="offer-describe">{{offer.describe}} </p>
      </div>
    </ion-item>
  </ion-list>

  <div *ngIf="selectedOffer" class="summary-box">
    <h3>Résumé</h3>
    <p><strong>Offre:</strong> {{ selectedOffer.name }}</p>
    
    <p><strong>Prix:</strong> {{ selectedOffer.price }} FCFA</p>
    <p><strong>ID Transaction:</strong> {{ transactionId }}</p>

    <ion-button expand="block" color="secondary" (click)="generatePDF()">
      Télécharger PDF Pré-paiement
    </ion-button>

    <h3>Méthode de paiement</h3>
  
    <ion-button expand="block" color="warning"  (click)="confirmPayment('MTN Mobile Money')">
      MTN Mobile Money
    </ion-button>
    <ion-button expand="block" color="tertiary"  (click)="confirmPayment('Orange Money')">
      Orange Money
    </ion-button>
  </div>

</ion-content>