# Node.js
node_modules/
npm-debug.log*

# Capacitor / Ionic / Android
android/.gradle/
android/build/
android/captures/
android/local.properties
*.iml
.idea/
.DS_Store

# macOS
.DS_Store

# Next.js
.next/
out/

# Logs
*.log
