
<ion-content>

  <div class="home-container">
    <div class="header">
      <img style="width: 85px; height:35px " src="assets/icon/logo-monfax.png" alt="Logo" class="logo">
      <div class="profile-icon">
        <ion-icon name="notifications-circle-outline" style="color:#167F71"></ion-icon>
      </div>
    </div>
    <div class="welcome">
      <h2>Salut, Ronald A. Martin</h2>
      <p>Que voulez vous apprendre aujourd'hui?</p>
    </div>

    <div class="search-bar">
      <ion-icon name="search" class="search-icon" ></ion-icon>
      <input type="text" placeholder="Search for.." />
    </div>

    <div class="promo-banner">
      <p class="discount">25% OFF*</p>
      <h3>Today's Special</h3>
      <p>Get a Discount for Every Course Order only Valid for Today.!</p>
    </div>
    <div  class="body">
      <div class="exam-section">
        <div class="section-title" >
          <h1>Nos sujets d'examen</h1>
          <ion-button fill="clear" class="see-all-button" href="">
            <ion-label >Voir Tout</ion-label>
            <ion-icon name="chevron-forward-outline" color="black"></ion-icon>
          </ion-button>
        </div>
        
      </div>
    </div>
  </div>
  


</ion-content>

