<ion-toolbar style="padding: 16px; background: #F5F9FF;">
  <div class="header">
      <img style="width: 85px; height:35px " src="assets/icon/logo-monfax.png" alt="Logo" class="logo">
      <div class="profile-icon">
        <ion-icon name="notifications-circle-outline" style="color:#167F71"></ion-icon>
      </div>
    </div>
    <div class="welcome">
      <h2>Salut, {{current_user.username}}</h2>
      <p>Que voulez vous apprendre aujourd'hui?</p>
    </div>

    <div class="search-bar">
      <ion-icon name="search" class="search-icon" ></ion-icon>
      <input type="text" placeholder="Search for.." />
    </div>
</ion-toolbar>
<ion-content>

  <div class="home-container">
    <div>
      <app-banniere-buy></app-banniere-buy>
    </div>

    <div  class="body">
      <div class="exam-section">
        <div class="section-title" >
          <h1>Nos Sujets d'examen</h1>
          <ion-button fill="clear" class="see-all-button" href="">
            <ion-label >Voir Tout</ion-label>
            <ion-icon name="chevron-forward-outline" color="black"></ion-icon>
          </ion-button>
        </div>
        

        <div class="exams-container">
          <ng-container *ngIf="examDetailsList.length>0; else noExams">
            <app-exam-card *ngFor="let exam of examDetailsList" [exam]="exam" direction="column"></app-exam-card>
          </ng-container>

          <ng-template #noExams>
            <ion-text color="medium">
              <p>Aucun sujet d'exam disponible</p>
            </ion-text>
          </ng-template>

        </div>
      <div>
          <app-banniere-pub
          [images]="images"
          [autoplay]="true"
          height="250px"
        ></app-banniere-pub>
      </div>
      </div>
      <div class="popular-course">
        <div class="section-title" >
          <h1>Nos Supports De Cours  </h1>
          <ion-button fill="clear" class="see-all-button" href="/tabs/cours">
            <ion-label >Voir Tout</ion-label>
            <ion-icon name="chevron-forward-outline" color="black"></ion-icon>
          </ion-button>
        </div>
        <div class="sous-section">
          
          <ion-button 
            [color]="selectedSemestre === null ? 'selected' : 'light'"
            shape="round"
            (click)="selectSemestre(null)">
            Tout
          </ion-button>
        
          <div *ngFor="let semestre of SemestresData">
            <ion-button
              shape="round"
              [color]="selectedSemestre === semestre.name ? 'selected' : 'light'"
              (click)="selectSemestre(semestre.name)">
              {{ semestre.name }}
            </ion-button>
          </div>
        </div>
        <div class="courses-container">
          <ng-container *ngIf="subjects.length > 0; else noCourses">
            
              <app-course-card *ngFor="let course of subjects" [course]="course" direction="column" ></app-course-card>
          
          </ng-container>
      
          <ng-template #noCourses>
            <ion-text color="medium">
              <p>Vous n'avez aucun cours disponible pour le moment.</p>
            </ion-text>
          </ng-template>

        </div>
      
        
        <div class="footer">
          <div *ngFor="let niv of niveaux" class="card-niv" >
            <label class="titre-niv"> {{niv}} </label>
            <label class="Nbre-sujets" >+40</label>
            <label class="sujets-label">sujets</label>
          </div>
        </div>
      
        
      </div>
    </div>
  </div>
  


</ion-content>

