.no-pdf-message {
    text-align: center;
    margin-top: 20px;
  }
  
  ion-spinner {
    display: block;
    margin: 50px auto;
  }

    .head{
        display: flex;
        flex-direction: row;
        row-gap: 20px;
    }