

      <div class="course-card">
        <img src="assets/default-img-course.png" alt="thumbnail"/>
        <div class="product-card">
          <div class="header">
            <div class="tag"><span> {{course.filiere}} </span> <span> {{course.niveau}} </span> </div>
            <div class="lock-icon">
              <ion-icon name="lock-closed-outline"></ion-icon>
            </div>
          </div>
          <h2 class="title"> {{course.name}} </h2>
          <div class="details">
            <span class="price">{{ course.price}} fcfa</span>
            <span class="separator">|</span>
            <span class="rating">
              <ion-icon name="star"></ion-icon>
            </span>
            <span class="separator">|</span>
            <span class="sales">100 achats</span>
          </div>
        </div>
      </div>
  
