<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/home" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!-- Profile Card -->
  <div class="profile-card">
    <!-- Avatar -->
    <div class="avatar-container">
      <ion-avatar class="avatar">
        <img src="assets/avatar.png" alt="Profile" />
      </ion-avatar>
    
    </div>

    <!-- Name and Email -->
    <h2 class="name">{{current_user.username}}</h2>
    <p class="email">{{current_user.email}}</p>
  </div>

  <!-- Options List -->
  <ion-list lines="none" class="options-list">
    <ion-item button (click)="goTo('/fill-profil')">
      <ion-icon slot="start" name="create-outline"></ion-icon>
      <ion-label>Modifie le  Profil</ion-label>
      <!-- <ion-icon slot="end" name="chevron-forward-outline"></ion-icon> -->
    </ion-item>



    <ion-item button (click)="goTo('/notifications')" >
      <ion-icon  slot="start" name="notifications-outline"></ion-icon>
      <ion-label>Notifications</ion-label>
      <!-- <ion-icon slot="end" name="chevron-forward-outline"></ion-icon> -->
    </ion-item>

    <ion-item button (click)="goTo('/security')">
      <ion-icon slot="start" name="shield-checkmark-outline"></ion-icon>
      <ion-label>Security</ion-label>
      <!-- <ion-icon slot="end" name="chevron-forward-outline"></ion-icon> -->
    </ion-item>

    <ion-item button (click)="goTo('/language')">
      <ion-icon slot="start" name="language-outline"></ion-icon>
      <ion-label>Langage</ion-label>
      <!-- <ion-note slot="end" color="primary">Francais (FR)</ion-note> -->
    </ion-item>

    <ion-item  button (click)="goTo('/dark-mode')">
      <ion-icon slot="start" name="moon-outline"></ion-icon>
      <ion-label> Mode Sombre</ion-label>
      <!-- <ion-icon slot="end" name="chevron-forward-outline"></ion-icon> -->
    </ion-item>

    <ion-item button (click)="goTo('/terms')">
      <ion-icon slot="start" name="document-text-outline"></ion-icon>
      <ion-label>Termes & Conditions</ion-label>
      <!-- <ion-icon slot="end" name="chevron-forward-outline"></ion-icon> -->
    </ion-item>

    <ion-item button (click)="goTo('/help')">
      <ion-icon slot="start" name="help-circle-outline"></ion-icon>
      <ion-label> Centre D'aide</ion-label>
      <!-- <ion-icon slot="end" name="chevron-forward-outline"></ion-icon> -->
    </ion-item>

    <ion-item button (click)="goTo('/invite')">
      <ion-icon slot="start" name="people-outline"></ion-icon>
      <ion-label>Invite Friends</ion-label>
      <!-- <ion-icon slot="end" name="chevron-forward-outline"></ion-icon> -->
    </ion-item>
  </ion-list>

</ion-content>

