<ion-content>
  <div class="skip-container">
    <ion-button fill="clear" color="dark" (click)="skip()">Passer</ion-button>
  </div>

  <div class="step-content">
    <img [src]="slidesData[currentStep].img" alt="slidesData[currentStep].title" />
    <h2>{{ slidesData[currentStep].title }}</h2>
    <p>{{ slidesData[currentStep].description }}</p>
  </div>

  <ion-footer>
    <ion-toolbar>
      <ion-buttons slot="end">
        <ion-button (click)="nextStep()">
          <ion-icon *ngIf="!isLastStep()" name="arrow-forward"></ion-icon>
          <span *ngIf="isLastStep()">Commencer</span>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>
</ion-content>
