<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/home" text=""></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Fill Your Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="profile-container">
    
    <!-- Avatar -->
    <div class="profile-avatar">
      <div class="avatar-placeholder">
        <ion-icon name="person-circle-outline" size="large"></ion-icon>
      </div>
      <div class="edit-icon">
        <ion-icon name="create-outline"></ion-icon>
      </div>
    </div>

    <!-- Formulaire -->
    <ion-list class="form-list">

      <!-- Full Name -->
      <ion-item class="form-item">
        <ion-input
          type="text"
          placeholder="Full Name"
          [(ngModel)]="fullName">
        </ion-input>
      </ion-item>

      <!-- Nick Name -->
      <ion-item class="form-item">
        <ion-input
          type="text"
          placeholder="Nick Name"
          [(ngModel)]="nickName">
        </ion-input>
      </ion-item>

      <!-- Date of Birth -->
      <ion-item class="form-item">
        <ion-icon name="calendar-outline" slot="start"></ion-icon>
        <ion-datetime-button datetime="dob"></ion-datetime-button>
        <ion-modal [keepContentsMounted]="true">
          <ng-template>
            <ion-datetime
              id="dob"
              presentation="date"
              [(ngModel)]="dateOfBirth">
            </ion-datetime>
          </ng-template>
        </ion-modal>
      </ion-item>

      <!-- Email -->
      <ion-item class="form-item">
        <ion-icon name="mail-outline" slot="start"></ion-icon>
        <ion-input
          type="email"
          placeholder="Email"
          [(ngModel)]="email">
        </ion-input>
      </ion-item>

      <!-- Téléphone -->
      <ion-item class="form-item">
        <div class="ion-text-center">
          <img src="https://flagcdn.com/w20/us.png" alt="US Flag" class="flag-icon" />
        </div>
        <ion-select placeholder="(+1) 724-848-1225" interface="popover">
          <ion-select-option value="us">(+1) 724-848-1225</ion-select-option>
        </ion-select>
      </ion-item>

      <!-- Gender -->
      <ion-item class="form-item">
        <ion-select
          placeholder="Gender"
          [(ngModel)]="gender"
          interface="popover">
          <ion-select-option value="male">Male</ion-select-option>
          <ion-select-option value="female">Female</ion-select-option>
          <ion-select-option value="other">Other</ion-select-option>
        </ion-select>
      </ion-item>

    </ion-list>

    <!-- Bouton Continue -->
    <ion-button
      expand="block"
      class="continue-button"
      (click)="onContinue()">
      <span>Continue</span>
      <ion-icon name="arrow-forward-outline" slot="end"></ion-icon>
    </ion-button>

  </div>
</ion-content>
