<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBlULLhAz6xfKsFD43wwcKiRvyzKXkW-pw</string>
	<key>GCM_SENDER_ID</key>
	<string>477793249361</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.manix.monfax</string>
	<key>PROJECT_ID</key>
	<string>monfax-1826e</string>
	<key>STORAGE_BUCKET</key>
	<string>monfax-1826e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:477793249361:ios:d3702f2131f8ac791d3070</string>
</dict>
</plist>